/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --icon-color: #000;
  --font-main: 'Inter';
  --font-accent: 'PressStart2P';
  --font-weight_card-title: 700;
  --font-weight_card-main: 400;
  --logo-font-grow: clamp(49px, 2.409rem + 1.906vw, 65px);
  --header-title-font-grow: clamp(14px, 0.602rem + 0.945vw, 23px);
  --background-color: #fff;
  --accent-color: #000;
  --gradient-color-net: #d3d3d3;
  --gradient-color-vertical-top: #e7e7e7;
  --gradient-color-vertical-bottom: #1a1a1a;
  --button-color: #fff;
  --heart-contour: #000;
  --heart-fill: #ff0000;
  --watermark-stroke-color: #fff;
  --watermark-color: #000;
}
